<h1>Create New Question</h1>

<form action="/questions" method="post">
  <p>
    <label for="question-body">Body:</label>
    <input type="text" name="question[body]" id="question-body">
  </p><br>

  <p>
    <label for="test-id">Test id:</label>
    <input type="text" name="question[test_id]" id="question-test_id">
  </p><br>

  <input type="submit" value="Create">
</form>
