<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<div>
  You answered percent correct:

  <% if @test_passage.success? %>
  <span style="color: green" > <%= @test_passage.percent_correct %></span>
  You passed the test!
  <% else %>
  <span style="color: red" > <%= @test_passage.percent_correct %></span>
  You didn't pass the test!
  <% end %>
</div>
<br>

<%= link_to 'All tests', tests_path %>
