<p>
  <%= current_year %> Семенкин Павел - программист Ruby on rails <%= link_to 'Github', github_url %>
</p>

<p>
  Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com' %>
</p>
