<!DOCTYPE html>
<html>
<head>
  <title>Author</title>
</head>
<body>
<p>
  Семенкин Павел - программист Ruby on rails
</p>
<div>
  <a href="https://www.github.com/pavels3579">Гитхаб</a>
</div>
</body>
</html>
