<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>
<p>
  Проект TestGuru предназначен для создания, управления и выполнения различных тестов.
</p>
<div align="center">
  Онлайн-школа <a href="http://www.thinknetica.com">Thinknetica</a>
</div>
</body>
</html>
